{% extends 'main/layout.html' %}

{% block title %}Tralla{% endblock %}

{% block content %}
    <!-- <h1>{{ title }}</h1> -->
    <h1>Hello, it's {{ title }}</h1>
    <p>Работайте в команде, управляйте проектами и выводите продуктивность на новый уровень собственным уникальным способом вместе с Tralla.</p>
    <!-- <button class="btn btn-warning">о нас</button> -->
    <!-- {% for val in values %} -->
        <!-- {% if val == 'Hello' %} -->
            <!-- <p>{{ val|upper }}</p> -->
<!--            {% filter upper %}-->
<!--            <p>{{ val }}</p>-->
<!--            {% endfilter %}-->
        <!-- {% endif %} -->
    <!-- {% endfor %} -->
<!--    {{ values }}-->
{% endblock %}