{% extends 'desk/desk_layout.html' %} {% block title %}Home | {{user.username}}{% endblock %} {% block username %} {{ user.username }} {% endblock %} {% block content %}
<main>
    <div class="desk-field">
        <div class="desk-field-title">
            <div class="title-icon">
                <i class="far fa-object-group"></i>
            </div>
            <h3 class="title-home">Ваши доски</h3>
        </div>
        <div class="board-page" data-value="{{user.username}}">
            <ul class='contain-board'>
                {% for b in boards %}
                <li class="board-section">
                    <a class="board-tile" href="{% url 'board' b.id %}">{{ b.name }}</a>
                </li>
                {% endfor %}
                <li class="board-section">
                    <a class="board-tile create-board" href="{% url 'create_board' username=user.username%}"><i class="fas fa-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- # Add new board -->
    <div class="class-new-board">
        <div class="modal fade bd-example-modal-lg" id="BoardModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="left-portion-of-header col-lg-9 col-md-9 col-sm-9">
                            <h3 id="heading-card-title" action="{% url 'create_board' username=user.username %}" data-value="{{user.username}}" class="modal-title card-class-title"><strong><div class="reload-title">Название доски</div></strong></h3>
                            <input id="input-card-title" class="form-control card-class-title display-none" value="Card Title">
                            <button name="" id="card-button-update-title" class="btn btn-secondary card-button-add-description mt-1 float-right display-none">Сохранить</button>
                            <button name="" id="card-button-cancel-title" class="btn btn-secondary card-button-add-description mt-1 float-right display-none">Отмена</button>
                        </div>
                        <div class="right-portion-of-header col-lg-3 col-md-3 col-sm-3">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<input id="hidden-create-board" type="hidden" value="{% url 'create_board' username=user.username %}" data-url="{% url 'create_board' username=user.username %}"></input>
{% endblock %}