{% extends 'desk/desk_layout.html' %}

{% block title %}Home |  {{user.username}}{% endblock %}

{% block username %}
{{ user.username }}
{% endblock %}

{% block content %}
<main>
    <div class="desk-field">
        <div class="desk-field-title">
            <div class="title-icon">
                <i class="far fa-object-group"></i>
            </div>
            <h3 class="title">Ваши доски</h3>
        </div>
        <div class="board-page">
            <ul class='contain-board'>
            {% for b in boards %}
                <li class="board-section">
                    <a class="board-tile" href="{% url 'board' b.id %}">{{ b.name }}</a>
                </li>
            {% endfor %}
            <li class="board-section">
                <a class="board-tile create-board" href="{% url 'board' 9 %}"><i class="fas fa-plus"></i></a>
            </li>    
            </ul>
        </div>
    </div>
</main>
{% endblock %}
